(function (window) {
  window.__env = window.__env || {};
  window.__env.customize = {
    "branding": {
      "name": "{{BRANDING_NAME}}",
      "title": "{{BRANDING_TITLE}}",
      "header_img": "/resources/branding/logo.png",
      "footer_img": "/resources/branding/logo.png"
    }
  };
}((typeof global !== 'undefined') ? global : this));
